@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
         url("../assets/fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('../assets/fonts/FontsFree-Net-Montserrat-Bold.ttf') format("truetype");
}
@font-face {
    font-family: 'TT Commons Medium';
    src: url('../assets/fonts/TT-Commons-Medium.otf') format("truetype");
}
@font-face {
    font-family: 'SFProText Semibold';
    src: url('../assets/fonts/FontsFree-Net-SFProText-Semibold.ttf') format("truetype");
}
